
[Desktop Entry]
Type=Application
Name=CVSS Calculator
Exec=/usr/bin/cvss-calculator %f
MimeType=application/cvss;
Icon=application-cvss
X-Desktop-File-Install-Version=0.22
