
[Desktop Entry]
Type=Application
Name=CVSS Calculator
Exec=/home/bluec0re/bin/cvsscalc "%f"
MimeType=application/cvss;
Icon=cvsscalc
X-Desktop-File-Install-Version=0.19
